<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-info">
      <div class="panel-heading">
        Ranking
      </div>

      <div class="panel-body">
        <ul class="list-group">
          <% @ranking.each do |people| %>
            <li class="list-group-item">
              <span class="badge alert-info"><%= people[:friend_count] %></span>
              <%= people[:name] %>
            </li>
          <%end%>
        </ul>
      </div>
    </div>
  </div>
</div>
